<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>پرداخت یارا</title>
</head>
<body>
<form style="display: none" name="yarapay" id="yarapay" action="{{ request_url }}" method="POST">
    <p>
        <input type="hidden" name="MID" value="{{ merchant_id }}"/>
        <input type="hidden" name="ResNum" value="{{ invoice_id }}"/>
        <input type="hidden" name="Amount" value="{{ amount }}"/>
        <input type="hidden" name="RedirectURL" value="{{ redirect_url }}"/>
        <input type="hidden" name="language" value="fa"/>

        {% for key,value in extra_data.items %}
            <input type="hidden" name="{{ key }}" value="{{ value }}"/>
        {% endfor %}
    </p>
    <p>
        <input type="submit" id="pay_form" value="Submit"/>
    </p>
</form>


</body>
<script type="text/javascript">
    document.getElementById('pay_form').click();
</script>

</html>